body {
  background-color: #80B4CD;
  border: black;
}

div {
  width: device-width;
  height: device-height;
  border: black;

  padding-top: 150px;
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;

  margin: auto;
}

div h1 {
  text-align: center;
  color: #746860;
  font-family: Sunday, sans-serif;
  font-size: 70px;
}

div h6 {
  text-align: center;
  color: #746860;
  font-family: Sunday, sans-serif;
  font-size: 30px;
}

@font-face {
  font-family: "Sunday";
  src: url('sunday-regular.ttf') format('truetype');
}
