*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body{
    background-color: #e9e9e9;
}

header{
  width: 100%;
  height: 1136px;
  margin: 0 auto;
  text-align: center;
  line-height: 60px;
  background: linear-gradient(#565656, #e9e9e9);
  color: #ffffff;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
}

#scroll-down{
  width: 200px;
  margin-top: 720px;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #565656;
}

#down-arrow{
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

.title{
  font-family: 'Lato', sans-serif;
  font-size: 6em;
}

.spaced{
  letter-spacing: 4px;
}

.easy-read{
  font-family: 'Open Sans', sans-serif;
  font-size: 2em;
}

.centered{
  display: inline-block;
  vertical-align: middle;
}

.child{
  width: 600px;
  padding-top: 200px;
  margin: 30px auto;
}

.main-content{
  width: 95%;
  height: 500px;
  margin: 10px auto;
  border-radius: 5px;
}

.sub-section{
  width: 90%;
  margin: 0 auto;
  margin-bottom: 30px;
}

.main-content h3{
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  color: #565656;
}

.main-content p{
  line-height: 20px;
  margin: 10px 10px 0 10px;
}

.footer-wrap{
  width: 95%;
  margin: 0 auto;
}

footer{
  width: 95%;
  height: 40px;
  margin: 0 auto;
  position: relative;
  bottom: 0;
  border-top: 1px solid #76323f;
  text-align: center;
  line-height: 40px;
  vertical-align: middle;
  background-color: #565656;
  color: #ffffff;
  font-size: 1em;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

footer a{
  text-decoration: underline;
  color: lightgrey;
}

footer a:hover{
  color: #ffffff;
}

@media screen and (min-height: 1330px){
  header{
    height: 1334px;
  }

  #scroll-down{
    margin-top: 800px;
  }
}

@media screen and (min-height: 1900px){
  header{
    height: 1920px;
  }

  #scroll-down{
    margin-top: 1600px
  }
}
